<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TS Project Template</title>

    <link rel="stylesheet" href="styles.css">
</head>
<body>

<header class="header">
    <h1>TypeScript Demo Template</h1>
    <button id="openModal" class="btn">Відкрити модальне вікно</button>
</header>

<main>
    <section class="posts">
        <h2>Пости з JSONPlaceholder</h2>
        <div id="posts" class="posts-container">
        </div>
    </section>
</main>

<div id="modal" class="modal">
    <div class="modal-content">
        <h3>Модальне вікно</h3>
        <p>Це приклад модального вікна.</p>
        <button id="closeModal" class="btn btn-close">Закрити</button>
    </div>
</div>

<script type="module" src="../dist/index.js"></script>
</body>
</html>
